.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

h1{
  margin: 0;
}

#calender{
  background: #ffffff;
  color: black;
  font-size: 24px;
  padding: 20px;
  margin: 20px;
  height: 600px;
}

#slogan{
  margin: 0;
}

#admin{
  background: white;
  padding: 40px;
  margin: 20px;
}

button{
  background-color: #ec1dbf;
  color: #282c34;
  border: 0;
  font-size: 24px;
  padding: 10px;
  margin-top: 20px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
